<div class="container">
    <h5><app-stars [stars]="rating.stars"></app-stars>  {{rating.title}}</h5>
    <label class="gray">{{rating.date | slice:0:10 }}&nbsp;&nbsp;·&nbsp;&nbsp;{{rating.user}}</label> 
    <div>{{rating.description}}</div>
</div>