.ingred-comp{
    padding: 0.2em;
    padding-left: 0.5em;
}

.ingredient-grid{
    width: 25%;
    margin:0px;
}

.ingredient-amount{
    padding-right: 0.2em;
    text-align: right;
    border: 1px solid lightgray;
    width:70%;
}

.ingredient-amount:hover{
    border: 1px solid palegreen;
}

.date{
    text-align: right;
}


.name{
    width: 33%;;
    padding: 0px;
    margin: 0px;
}

.amount{
    width: 33%;;
    padding: 0px;
    margin: 0px;
}

.date{
    width: 16%;
    text-align: right;
    padding: 0px;
    margin: 0px;
    color: gray;
}

.button{
    width: 16%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}