<div class="ingred-comp">
    <label class="ingredient-grid name">{{product.name}}</label>
    <label class="ingredient-grid amount">
        <input [(ngModel)]="product.amount" tabindex="-1" (focusout)="fridgeUpdateAmount()" placeholder="amount" class="ingredient-amount"/>
        {{product.unit}}
    </label>
    <label class="ingredient-grid date"></label>
    <label (click)="delProductFromFridge()" class="ingredient-grid button"><button type="submit" class="btn btn-danger btn-sm">🗑️</button></label>
</div>