
<div class="container">
        <div class="row">
            <div class="col-sm"></div>
            <div class="col-sm">
                <form class="mx-auto text-center">

                    <div *ngIf="loginmessage" class="alert alert-danger" role="alert">
                            {{loginmessage}}
                    </div>

                    <div class="form-group">
                        <label for="formLoginUser">Username</label>
                        <input [(ngModel)]="username" name="username" type="Username" class="form-control" id="formLogUser" placeholder="Username">
                    </div>
                    <div class="form-group">
                        <label for="formRegUser">Password</label>
                        <input [(ngModel)]="password" name="password" type="password" class="form-control" id="formLogPw" placeholder="Password">
                    </div>
                    <button (click)="login()" type="submit" class="btn btn-success">LOGIN</button>
                </form>
            </div>
            <div class="col-sm"></div>
        </div>
    </div>