.headline{
    background-color: lightgray;
    padding: 0.2em;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0.2em;
}

.list-container{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-bottom: 0.2em;
    margin-top: 0.2em;
    max-height: 12em;
    overflow-y: scroll;
}

.fridgelogin{
    vertical-align: middle;
}
