<p class="headline">Your Fridge</p>
<input [(ngModel)]="searchFridgeTerm" (ngModelChange)="searchFridge()" class="form-control form-control-sm" type="text" placeholder="Search your Fridge">
    <div class="list-container">
        <ul class="list-group">
            <div *ngIf="notloggedIn" class="alert alert-danger text-center" role="alert">
                <button type="button" class="btn btn-outline-danger btn-sm" data-toggle="modal" data-target="#modalLogin">Login</button> <span class="fridgelogin"> to use this feature!</span>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <app-ingredient (refreshFridge)="getFridge()" *ngFor="let product of allProducts" [product]="product"></app-ingredient>
                <div *ngIf="loadingFridge" class="text-center">
                    <div class="spinner-grow text-success" role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
        </ul>
    </div>

<p class="headline">Ingredients Database</p>
<input [(ngModel)]="searchIngredientTerm" (ngModelChange)="searchIngredient()" class="form-control form-control-sm" type="text" placeholder="Search Ingredient to add to Fridge">
    <div class="list-container">
        <ul class="list-group">
            <app-ingredient-add (refreshFridge)="getFridge()" *ngFor="let ingredient of allIngredients" [ingredient]="ingredient"></app-ingredient-add>
            <div *ngIf="loadingIngredients" class="text-center">
                <div class="spinner-grow text-success" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </ul>
    </div>

    <div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="modalLogin" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="modalLogin">Login</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                <app-login-form class="logincomp"></app-login-form>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>