<div class="container">
    <div class="row">
        <div class="col-md affix" id="fridge">
            <app-fridge></app-fridge>
        </div>
        <div class="col-md">
            <app-recipe-container></app-recipe-container>
        </div>
    </div>
</div>
