
<div class="container">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">

                <div *ngIf="registermessage" class="alert alert-danger alert-dismissible fade show" role="alert">
                        {{registermessage}}
                </div>



            <form ngNativeValidate class="mx-auto text-center">
                <div class="form-group">
                    <label for="formRegMail">Email address</label>
                    <input [(ngModel)]="email" name="email" required type="email" class="form-control" id="formRegMail" aria-describedby="emailHelp" placeholder="EMail">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
                <div class="form-group">
                    <label for="formRegUser">Username</label>
                    <input [(ngModel)]="username" name="username" required type="name" class="form-control" id="formRegUser" aria-describedby="emailHelp" placeholder="Username">
                </div>
                <div class="form-group">
                    <label for="formRegPw">Password</label>
                    <input [(ngModel)]="password" name="password" required type="password" class="form-control" id="formRegPw" placeholder="Password">
                </div>
                <div class="form-group">
                    <label for="formRegPwCon">Confirm Password</label>
                    <input [(ngModel)]="passwordrep" name="passwordrep" required type="password" class="form-control" id="formRegPwCon" placeholder="Password">
                </div>

                <button (click)="register()" type="submit" class="btn btn-success">REGISTER</button>
            </form>
        </div>
        <div class="col-sm"></div>
    </div>
</div>