<p class="headline">Recipies</p>
<input [(ngModel)]="searchRecipeTerm" (ngModelChange)="searchRecipe()" class="form-control form-control-sm" id="formSearchIng" type="text" placeholder="Search for a Recipe">

<div>
    <label class="dur-label" for="dur-selector">max. 🕑 {{selDur}} min</label>
    <input id="dur-selector" type="range" class="custom-range" min="5" value={{selDur}} max={{maxDur}} #dur (input)="filterDuration(dur.value)">
</div>

<div>
    <label class="diff-label" for="dur-selector">max. 👨‍🍳 {{symDiff[selDiff]}} </label>
    <input id="diff-selector" type="range" class="custom-range" min="1" value={{selDiff}} max={{maxDiff}} #diff (input)="filterDifficulty(diff.value)">
</div>

<div>
        <label class="available-label" for="available-selector">only that match with fridge</label>
        <span >
            <input id="available-selector" type="checkbox" (click)="filterAvailability()">
        </span>
</div>

<div class="list-container">
    <div class="list-group">
        <app-recipe *ngFor="let recipe of allRecipes" [recipe]="recipe" routerLink="/recipe/{{recipe.recipeID}}"></app-recipe>
    </div>
</div>