.headline{
    background-color: lightgray;
    padding: 0.2em;
    border-radius: 5px;
    text-align: center;
    margin-bottom: 0.2em;
}

.list-group{
    padding-top: 0.2em;
}

.dur-label{
    width:35%;
    display: inline-block;
}

#dur-selector{
    width:65%;
    display: inline-block;
    padding-top: 0.7em;
}

.diff-label{
    width:40%;
    display: inline-block;
}

#diff-selector{
    width:60%;
    display: inline-block;
    padding-top: 0.7em;
}

.available-label{
    width:70%;
    display: inline-block;
}

#available-selector{
    width:30%;
    display: inline-block;
}

.custom-range::-webkit-slider-thumb {
    background: #4CAF50; /* Green background */
}
  
.custom-range::-moz-range-thumb {
    background: #4CAF50; /* Green background */
}

app-recipe{
    cursor: pointer;
}