<form *ngIf="!succmessage">
    <label>Give your rating: </label>
        <select [(ngModel)]="stars" name="starsrating">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
        </select> 
    <button (click)="sendRating()" type="submit" class="btn btn-success">SEND</button>
    <br>
</form>

<div *ngIf="errormessage" class="alert alert-danger " role="alert">
        {{errormessage}}
</div>
<br>
<div *ngIf="succmessage" class="alert alert-success " role="alert">
        Rating submitted!
</div>