
<div class="row">
    <button id="logoutbutton" (click)="logout()" type="submit" class="btn btn-danger">LOGOUT</button>
</div>
<div class="row">
    <div class="col-xl">
        <div *ngIf="profile" class="container">
            <a class="btn btn-success" data-toggle="collapse" href="#collapseProfile" role="button" aria-expanded="false" aria-controls="collapseProfile">
                    Edit Profile
            </a>
            <br>
            <div class="collapse" id="collapseProfile">
                <div class="card card-body">
                        <form ngNativeValidate class="mx-auto text-center">
                                <div class="formInput">
                                    <label>Avatar: </label>
                                    <input (change)="onFileChange($event)" name="nameEditAvatar" type='file' />
                                    <label *ngIf="imageToLarge">Imagesize can't be larger than 50KB</label>
                                </div><br>

                                <div class="formInput">
                                    <label>About</label>
                                    <textarea [(ngModel)]="editAbout" name="nameEditAbout" required type="textarea" class="form-control" id="editAbout" value="{{editAbout}}"></textarea>
                                </div><br>

                                <div class="formInput">
                                    <label class="diff-label" for="dur-selector">beginner | experienced | expert</label>
                                    <input [(ngModel)]="editExperience" name="nameEditExperience" id="diff-selector" type="range" class="custom-range" min="1" value={{editExperience}} max=3 >
                                </div>

                                <div class="formInput">
                                    <label class="diff-label" for="dur-selector">Birthday</label><br>
                                    <input [(ngModel)]="editBirthday" name="nameEditBirthday" type="date" value="{{editBirthday}}">
                                </div>
                                <br><br>
                                <button (click)="updateProfile()" type="submit" class="btn btn-success">UPDATE</button>
                        </form>
                </div>
            </div>
            <br>


            <div><img class="prof-avatar" src="{{profile.avatar}}" alt="AVATAR"></div>
            <div><label class="prof-name">{{profile.username}}</label> </div>
            <div>👨‍🍳 {{symDiff[profile.experience]}} &nbsp;  &nbsp;  &nbsp; 🎂 {{profile.birthday | slice:0:10}}</div>
            <br>
            <div><label class="prof-about">about me: </label><br>{{profile.about}}</div>
        </div>
    </div>
    <div class="col-xl">
        <div *ngIf="recipes" class="container">
            <h4>my recipes:</h4>

            <a class="btn btn-success" data-toggle="collapse" href="#collapseRecipe" role="button" aria-expanded="false" aria-controls="collapseRecipe">
                    Add Recipe
            </a>
            <br>
            <div class="collapse" id="collapseRecipe">
                <div class="card card-body">
                        <form id="addDishForm" ngNativeValidate class="mx-auto text-center">
                                <div class="formInput">
                                    <label>Picture: </label>
                                    <input (change)="onFileChangeRec($event)" name="dishPicture" type='file' />
                                    <label *ngIf="imageToLarge">Imagesize can't be larger than 256KB</label>
                                </div><br>

                                <div class="formInput">
                                    <label>Title</label>
                                    <input [(ngModel)]="dishTitle" name="dishTitleName" required type="text" class="form-control" value="">
                                </div><br>

                                <div class="formInput">
                                    <label>Description</label>
                                    <input [(ngModel)]="dishDescription" name="dishDescriptionName" required type="text" class="form-control" value="">
                                </div><br>

                                <div class="formInput">
                                    <label>Preparation</label>
                                    <textarea [(ngModel)]="dishPreparation" name="dishPreparationName" required type="textarea" class="form-control" value=""></textarea>
                                </div><br>

                                <div class="formInput">
                                    <label>Portions</label>
                                    <input [(ngModel)]="dishPortions" name="dishPortionsName" required type="number" class="form-control" value="">
                                </div><br>

                                <div class="formInput">
                                    <label>Preparation Time (Minutes)</label>
                                    <input [(ngModel)]="dishPrepTime" name="dishPrepTimeName" required type="number" class="form-control" value="">
                                </div><br>   

                                <div class="formInput">
                                    <label>Origin</label>
                                    <input [(ngModel)]="dishOrigin" name="dishOriginName" required type="text" class="form-control" value="">
                                </div><br>

                                <div class="formInput">
                                    <label class="diff-label" for="dur-selector">beginner | experienced | expert</label>
                                    <input [(ngModel)]="dishDifficulty" name="dishDifficultyName"  type="range" class="custom-range" min="1" value={{dishDifficulty}} max=3 >
                                </div><br>

                                <div class="formInput">
                                    <label class="diff-label" for="dur-selector">Ingredients: </label>
                                    <span *ngFor="let ingA of addedIngredients"> {{ingA[0]}} {{ingA[1]}} {{ingA[2]}}, </span>
                                </div><br>

                                <input [(ngModel)]="searchIngredientTerm" name="searchIngredientTerm" (ngModelChange)="searchIngredient()" class="form-control form-control-sm" type="text" placeholder="Search Ingredient to add to Recipe">
                                <div class="list-container">
                                    <ul class="list-group" id="ingsContainer">
                                        <app-ingredient-addrec (callingredientToRecipe)="ingredientToRecipe($event)" *ngFor="let ingredient of allIngredients" [ingredient]="ingredient"></app-ingredient-addrec>
                                    </ul>
                                </div>

                                <br><br>
                                <button (click)="createRecipe()" type="submit" class="btn btn-success">PUBLISH</button>

                                <div *ngIf="succmessage" class="alert alert-success alert-dismissible fade show" role="alert">
                                        Recipe successfully created
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                </div>

                                <div *ngIf="errormessage" class="alert alert-danger alert-dismissible fade show" role="alert">
                                        {{errormessage}}
                                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                              </button>
                                </div>
                        </form>
                </div>
            </div>
            <br>

            <div class="list-group">
                <app-recipe class="recipe" *ngFor="let recipe of recipes" [recipe]="recipe" routerLink="/recipe/{{recipe.recipeID}}"></app-recipe>
            </div>
        </div>
    </div>
    <div class="col-xl">
        <div *ngIf="ratings" class="container">
            <h4>my ratings:</h4>
            <app-rating *ngFor="let rating of ratings" [rating]="rating"></app-rating>
        </div>
    </div>
</div>