<div class="ingred-comp">
    <label class="ingredient-grid">{{ingredient.name}}</label>
    <label class="ingredient-grid">
        <input [(ngModel)]="amount" placeholder="amount" class="ingredient-amount"/>
        {{ingredient.unit}}
    </label>
    <label class="ingredient-grid button"><button (click)="addItemToFridge()" type="submit" class="btn btn-success btn-sm">➕</button></label>
</div>
