<div class="center">

    <app-recipe *ngIf="recipe" [recipe]="recipe"></app-recipe>

    <div class="row">
        <div class="col-md tablestyle">
            <app-ingredient-recipe *ngFor="let item of allIngredients" [ingredient]="item"></app-ingredient-recipe>
        </div>

        <div *ngIf="recipe" class="col-md-7">
            <a routerLink="/profile/{{recipe.userID}}" >Visit profile 👤</a>
            <h4>Preparation</h4>
            {{recipe.preparation}}
        </div>
    </div>

    <div class="row" id="ratingform">
        <app-ratingform [recipeID]="ID"></app-ratingform>
    </div>

    <div class="rating-container">
        <app-rating *ngFor="let rating of ratings" [rating]="rating"></app-rating>
    </div>
    
</div>
