.center{
    margin: auto;
    max-width: 1200px;
}

app-ratingform{
    text-align: center;
    margin: auto;
}

.row{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    margin-top: 0.2em;
    width:100%;
}

.col-sm{
    border: 1px solid lightgray;
}

app-ingredient-recipe:nth-child(odd)
{
    color: green ;
}


.rating-container{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 0.2em;
}