.row{
    width:99%;
    margin: auto;
}

.prof-avatar{
    max-width: 150px;
    max-height: 150px;;
}


.container{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 0.2em;
    max-height: 600px;
    overflow: auto;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
}

.recipe{
    margin-left: -5px;
    margin-right:-5px;
}

.col-xl{
    text-align: center;
    margin-left: -7.5px;
    margin-right: -7.5px;
}

.prof-name{
    font-size: 1.5em;
}

.prof-point{
    margin: 0.2em;
}