<div class="row">
    <div class="col-xl">
        <div *ngIf="profile" class="container">
            <div><img class="prof-avatar" src="{{profile.avatar}}" alt="AVATAR"></div>
            <div><label class="prof-name">{{profile.username}}</label> </div>
            <div>👨‍🍳 {{symDiff[profile.experience]}} &nbsp;  &nbsp;  &nbsp; 🎂 {{profile.birthday | slice:0:10}}</div>
            <br>
            <div><label class="prof-about">about me: </label><br>{{profile.about}}</div>
        </div>
    </div>
    <div class="col-xl">
        <div *ngIf="recipes" class="container">
            <h4>my recipes:</h4>
            <div class="list-group">
                <app-recipe class="recipe" *ngFor="let recipe of recipes" [recipe]="recipe" routerLink="/recipe/{{recipe.recipeID}}"></app-recipe>
            </div>
        </div>
    </div>
    <div class="col-xl">
        <div *ngIf="ratings" class="container">
            <h4>my ratings:</h4>
            <app-rating *ngFor="let rating of ratings" [rating]="rating"></app-rating>
        </div>
    </div>
</div>