
<span class="star" [ngStyle]="{'color': col[0]}">★</span>
<span class="star" [ngStyle]="{'color': col[1]}">★</span>
<span class="star" [ngStyle]="{'color': col[2]}">★</span>
<span class="star" [ngStyle]="{'color': col[3]}">★</span>
<span class="star" [ngStyle]="{'color': col[4]}">★</span>
