.ingred-comp{
    padding: 0.2em;
    padding-left: 0.5em;
}

.ingredient-grid{
    width: 33%;
    margin:0px;
}

.ingredient-amount{
    padding-right: 0.2em;
    text-align: right;
    border: 1px solid lightgray;
    width:70%;
}

.ingredient-amount:hover{
    border: 1px solid palegreen;
}

.button{
    text-align: right;
    padding: 0px;
    margin: 0px;
}