<div class="recipe-comp">
    <img class="mx-auto d-block" src={{image}} alt="dish picture">
    <h4 class="pl-3">{{recipe.title}}</h4>
    <label title="rating" class="recipe-label"><app-stars [stars]="rating"></app-stars></label>
    <label title="preparation time" class="recipe-label" >🕑 {{recipe.preptime}}min</label>
    <label title="difficulty" class="recipe-label" >👨‍🍳 {{symDiff[recipe.difficulty]}}</label>
    <label title="origin" class="recipe-label">{{recipe.origin}}</label>
    <br>
    <label class="mx-auto d-block text-center" >{{recipe.description}}</label>
    <label class="mx-auto d-block text-center font-italic font-weight-light"><span  *ngFor="let tag of recipe.tags"> {{tag}} </span></label>
</div>
