.recipe-comp{
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-top: 0.2em;
}

.recipe-dish-img{
    display: inline-block;
}

.recipe-label{
    width: 25%;
    text-align: center;
}

img{
    max-width: 400px;
    max-height: 300px;
    width:100%;
}